<%- include ('partials/header.ejs') %>
  <body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
      <hr>
      <h1> Questions </h1>
      <br>
      <a href="/ask" class="btn btn-primary">Ask a Question</a>
      <hr>
      <% questions.forEach(question => { %>
        <div class="card">
          <div class="card-body">
            <h3><%= question.title %></h3>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="/question/<%= question.id %>">Answer</a>
          </div>
        </div>
        <br>
      <% }) %>
    </div>
  </body>
<%- include ('partials/footer.ejs') %>